%p#notice= notice
%p
  %strong Body:
  = @message.body
- if flash[:notice].present?
  .flash
    = flash[:notice]

= form_tag( message_send_single_path(@message), method: :post) do
  %p
    %label email
    %input{type: "email", name:"email", placeholder: "", id: "email", required: true}
  %p
    %input{type: "submit", value: "SEND ONCE", id: "submit_btn"}
= form_tag( message_send_all_path(@message), method: :post) do
  %p
    %input{type: "submit", value: "SEND ALL", id: "submit_btn"}

= link_to 'Edit', edit_message_path(@message)
|
= link_to 'Back', admin_index_path