%h1 Messages

%ul
  - @messages.each do |message|
    %li
      %span= message.subject
      %span= message.short_body
      %span
        = link_to 'Show', message_path(message)
        = link_to 'Edit', edit_message_path(message)
        = link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'New Message', new_message_path 

%h1 Subscribers
%ul
  - @subscriptions.each do |sub|
    %li=sub.email