!!!
%html
  %head
    %title yucca magazine
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %link{href: "/favicon.ico", rel: "icon", type: "image/x-icon"}/
    %link{href: "/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    %link{href: "/favicon.ico", rel: "shortcut icon", type: "image/vnd.microsoft.icon"}/

    %meta{content: "http://zangato.com", name: "generator"}/
    %meta{content: "Zan Gato (http://zangato.com)", name: "author"}/
    %meta{content: "magazine,photography,art,collage,photo,city,people,nature", name: "keyword"}/
    %meta{content: "yucca magazine - is attention distruction art magazine that collects all best shots/work/concepts around the world and mix them in unforgettable visual experience.", name:"description"}
    = render 'shared/google_analytics'
  %body
    .container_18
      .grid_3
        &nbsp;
        .fixed_div
          .logo
            %h1 yucca 
            %h2 magazine
          .menu
            %a{href: "/", class: @page == "home" ? "selected": ""} home
            %a{href: "/about", class: @page == "about" ? "selected": ""} about
            %a{href: "/contact", class: @page == "contact" ? "selected": ""} contact
            - if current_user
              %br
              Admin: 
              %a{href:"/admin/index"} home
              %a{href:"/admin/issues"} issues
              = link_to 'logout', destroy_user_session_path, method: :delete

          = #render 'shared/subscription'
          .footer
            %a{href: "https://www.facebook.com/yuccamagazine", target: "_blank"}
              %img{src: asset_path('FB_bw.png'), alt: "Facebook", onmouseover: "this.src='#{asset_path('FB_color.png')}'", onmouseout: "this.src='#{asset_path('FB_bw.png')}'", width: 20, height:20}
            %a{href: "http://yuccamagazine.tumblr.com", target: "_blank"}
              %img{src: asset_path('Tumblr_bw.png'), alt: "Tumblr", onmouseover: "this.src='#{asset_path('Tumblr_color.png')}'", onmouseout: "this.src='#{asset_path('Tumblr_bw.png')}'", width: 20, height:20}
            .clear
            .copyright
              © 2014 yucca magazine<br/>non-commercial online magazine<br/>ALL RIGHTS RESERVED
      .grid_15
        = yield

    .clear
